# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env
.env.*

# Virtual environments
.venv/
venv/

# Editor settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

node_modules/


dist/
build/